@import url(https://fonts.googleapis.com/css?family=Hind:400,300);

// Typography
h1,h2,h3,h4,h5,h6 {
  font-family:"proxima-nova-soft", "Proxima Nova Soft", sans-serif;
  margin-top:0;
  font-weight:600;
}

h2 {font-size:3em; margin-bottom:0.5em;}

body {
  font-family:"Hind", "Avenir", "Helvetica", arial;
  font-weight:100;
  // text-shadow:0 1px 1px rgba(51,51,51,0.2);
}

.lead {
  font-family:"proxima-nova-soft", "Proxima Nova Soft", sans-serif;
  font-weight:300;
}

* {
  box-sizing:border-box;
  transition:transform 200ms ease;
}

img {
  max-width:100%;
}

.main-content {
  min-height:80vh;
  padding-top:120px; //header offset
}

.modal-content {
  box-shadow:none;
}