// md Up (greater than 767px)
@media(min-width:768px) {
	
	.head {

		.brand {
	    padding:30px 30px 30px 0;
	    float:left;
		}

    span {
    	margin-left:30px;
    }

    .logo {
      float:left;
      margin-right:30px;
    }

	}

	.home {

	  .head {
      float:left;
			background:rgba(9, 35, 38, 0);
	  }

  }

}


