// XS Only (less than 768px)
@media(max-width:767px) {
  * {
    text-align:center;
  }

  .head {

    text-align:center;

    .brand {
      display:block;
      width:100%;
      margin:0;
      padding:10px 0;
    }

    a,
    .logo,
    span {
      display:inline-block;
      width:100%;
      margin:0 auto;
    }

  }

  .head.scrolled {

    .brand {

      .name {
        font-size:0;
        line-height:0;
      }

      span {
        padding:0;
      }
      
    }

  }

  .home #section-hero {
    h1.hero {
      font-size:5em;
    }
  }

}

