.subfooter {
  padding:40px 0;
  background-color:#003842;
  color:#eee;

  ul {
    display: block;
    list-style:none;
    padding-left:0;
  }

  a {
    color:#fff;
  }

  .fa {
    font-size:3em;
    display:block;
    float:left;
    margin:0 15px 20px 0;
    transition:all 400ms ease;
    opacity: 0.5;
    &:hover {opacity:1}
  }

  .social-connect {
    margin-top:2em;
    display:inline-flex;
    margin:0 auto;
    text-align: center;
  }

}

.footer {

  background:#092326;

  p {
    margin-bottom:0;
  }

  .copyright,
  .credits {

    padding:40px 0;
    margin-bottom:0;
    color:#CBCBCB;

    a {color:#CBCBCB;}

  }

  .copyright {}
  
  .logo {
    display:block;
    margin:20px auto;
  }

  .credits {
    text-align:right;
  }


}